.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.container > div {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  background-color: white;
  text-align: center;
}

mat-slider {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.fa-question-circle {
  color: #cdcdcd;
}

.input-value-block {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

.separator-block {
  width: 10%;
  height: 100%;
  display: inline-block;
  background-color: #cdcdcd;
}

.derived-value-block {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
