<!--<div>
        <mat-form-field> <input matInput
          placeholder="# of policyholders"
          [(ngModel)]="userInput.numPH" (input)="userInputChanged.emit(true)" type="number"> </mat-form-field>
      </div>-->
<button (click)="runSimulation()">Run Simulation</button>
<div class="container">
  <mat-horizontal-stepper>
    <mat-step *ngFor="let period of periods">
      <div>chosenPremium: {{period.chosenPremium}}</div>
      <div>tul: {{period.tul}}</div>
      <div>tol: {{period.tol}}</div>
      <div>totalPremiumPayment: {{period.totalPremiumPayment}}</div>
      <div>totalEligibleClaims: {{period.totalEligibleClaims}}</div>
      <div>totalPremiumsAfterDefect: {{period.totalPremiumsAfterDefect}}</div>
      <div>Total Rebates: {{period.totalRebates}}</div>
      <div>Claim Payment Ratio: {{period.claimPaymentRatio}}</div>
      <div>EffectiveCost: {{period.effectiveCost}}</div>
      <div>EffectiveClaimPayment: {{period.averageClaimPayment}}</div>
    </mat-step>
  </mat-horizontal-stepper>
</div>

<div>
  <div>Claims were underpaid {{summary[0] | percent:'1.0-3'}} of the time</div>
  <div>On average claims were paid {{summary[1] | percent:'1.0-3'}} of their value</div>
  <div>When claims were not paid out in full, on average they were paid {{summary[2] | percent:'1.0-3'}} of their value</div>
  <div>Effective monthly premium per person: {{summary[3]}}</div>
  <div>Effective monthly claim value is: {{summary[4]}}</div>
</div>
