<!--<div>
        <mat-form-field> <input matInput
          placeholder="# of policyholders"
          [(ngModel)]="userInput.numPh" (input)="userInputChanged.emit(true)" type="number"> </mat-form-field>
      </div>-->

<div id="claimsgraph" style="width:100%; height:400px;"></div>

<mat-form-field>
  <input matInput placeholder="Number of policy periods" [(ngModel)]="userInput.numPolicyPeriods">
</mat-form-field>
<br>
<mat-form-field>
  <input matInput placeholder="Length of a policy period (days)" [(ngModel)]="userInput.policyPeriodLength">
</mat-form-field>
<br>
<button (click)="runSimulation()">New Simulation</button>
<!--<div class="container">-->
  <!--<mat-horizontal-stepper>-->
    <!--<mat-step *ngFor="let period of currentDB.periods">-->
      <!--<div>chosenPremium: {{period.chosenPremium}}</div>-->
      <!--<div>tul: {{period.totalCoverageUnits}}</div>-->
      <!--<div>tol: {{period.tol}}</div>-->
      <!--<div>totalPremiumPayment: {{period.totalPremiumPayment}}</div>-->
      <!--<div>totalOverpayments: {{period.totalOverpayments}}</div>-->

      <!--<div>totalConfiscatedOverpayments: {{period.confiscatedOverpayments}}</div>-->
      <!--<div>totalEligibleClaims: {{period.totalEligibleClaims}}</div>-->
      <!--<div>Defector Count: {{period.numDefectors}}</div>-->
      <!--<div>totalPremiumsAfterDefect: {{period.totalPremiumsAfterDefect}}</div>-->
      <!--<div>Total Rebates: {{period.totalRebates}}</div>-->
      <!--<div>Claim Payment Ratio: {{period.claimPaymentRatio}}</div>-->
      <!--<div>EffectivePremium: {{period.effectivePremium}}</div>-->
      <!--<div>EffectiveCost: {{period.effectiveCost}}</div>-->
      <!--<div>EffectiveClaimPayment: {{period.averageClaimPayment}}</div>-->
    <!--</mat-step>-->
  <!--</mat-horizontal-stepper>-->
<!--</div>-->

<app-simulation-viewer [simulations]="simulations" [unitySimulations]="unitySimulations" (simulationTabChanged)="onSimulationTabChanged($event)"></app-simulation-viewer>

<!--<div *ngIf="summary !== undefined">-->
  <!--<div>Claims were underpaid {{summary[0] | percent:'1.0-3'}} of the time</div>-->
  <!--<div>On average claims were paid {{summary[1] | percent:'1.0-3'}} of their value</div>-->
  <!--<div>When claims were not paid out in full, on average they were paid {{summary[2] | percent:'1.0-3'}} of their value</div>-->
  <!--<div>Effective monthly premium per person: {{summary[3]}}</div>-->
  <!--<div>Effective monthly claim value is: {{summary[4]}}</div>-->
<!--</div>-->
