.container {
  height: 100vh;
}

.content-top {
  margin: 10px;
}

.content-bottom {
  width: 600px;
}

.side {
  width: 600px;
  background-color: #f1f1f1;
}

.fa-male {
  margin: 5px;
  font-size: 40px;
  display: inline-block;
}

::ng-deep .mat-tooltip {
  max-width: 60px;
}
