<mat-sidenav-container class="container">
  <mat-sidenav #sidenav_left mode="side" class="sidenav-left" [opened]="true">
    <app-scenario-selection (scenarioSelected)="onScenarioSelected($event); inputComponent.userInput = $event; inputComponent.updateProjections()" (simulationKickoffRequested)="contentComponent.runSimulation()"></app-scenario-selection>
  </mat-sidenav>
  <mat-sidenav #sidenav_right mode="side" class="sidenav-right" position="end" [opened]="true">
    <app-input #inputComponent [userInput]="userInput"></app-input>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-top" style="display: flex; justify-content: flex-end">
      <button mat-fab (click)="sidenav_right.toggle()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="content-bottom">
      <app-content #contentComponent [userInput]="userInput"></app-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
