<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" class="side" [opened]="true">
    <app-input [userInput]="userInput"></app-input>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-top">
      <button mat-fab (click)="sidenav.toggle()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="content-bottom">
      <app-content [phDB]="phDB" [userInput]="userInput"></app-content>
      <!--<div *ngFor="let subGroup of phDB.policyHolderSubgroups">
        <i *ngFor="let policyHolder of subGroup" class="fas fa-male"
           matTooltip="id: {{policyHolder.id}}&#13;coverage: {{policyHolder.coverageValue}}&#13;premium: {{policyHolder.premiumVoteValue}}&#13;claim likelihood: {{policyHolder.claimValue[0]}}&#13;claim value: {{policyHolder.claimValue[1]}}&#13;participation rate: {{policyHolder.participationValue}}&#13;defect rate: {{policyHolder.defectValue}}"
           [matTooltipClass]="'primary-tooltip'"></i>
      </div>-->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
